[submodule "exams"]
	path = exams
	url = https://github.com/ghostdragonzero/test.git
[submodule "learning-cxx"]
	path = learning-cxx
	url = https://github.com/ghostdragonzero/learning-cxx.git
[submodule "rustlings"]
	path = rustlings
	url = https://github.com/ghostdragonzero/rust-test.git
